---
import Layout from "@layouts/Layout.astro";
import { CldImage } from "astro-cloudinary";
import { CldUploadWidget } from "astro-cloudinary";
import { getCollection } from "astro:content";

const images = await getCollection("images");
---

<Layout title="Halloween Gallery">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-4xl md:text-5xl font-bold text-halloween-orange mb-8 text-center">Halloween Gallery</h1>

    <div class="mb-8 text-center">
      <CldUploadWidget uploadPreset="hysteria-preset">
        <button
          type="button"
          class="bg-halloween-purple hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out transform hover:scale-105 shadow-lg"
        >
          Upload your terrifying image
        </button>
      </CldUploadWidget>
    </div>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      {
        images.map((image: any) => (
          <li class="transform transition duration-300 hover:scale-105">
            <a
              href={`/picture?id=${image.data.public_id}`}
              class="block bg-halloween-purple rounded-lg overflow-hidden shadow-xl"
            >
              <CldImage
                src={image.data.public_id}
                width={400}
                height={400}
                crop={{
                  type: "fill",
                  gravity: "auto",
                }}
                class="w-full h-full object-cover"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  body {
    @apply bg-halloween-black text-halloween-orange;
  }
</style>
