---
import Layout from "@layouts/Layout.astro";
import { CldImage } from "astro-cloudinary";
import { CldUploadWidget } from "astro-cloudinary";
import { getCollection } from "astro:content";

const images = await getCollection("images");
---

<Layout title="TerrifAI">
  <div class="container mx-auto px-4 py-8">
    <div class="mb-12 text-center">
      <CldUploadWidget uploadPreset="hysteria-preset">
        <button
          type="button"
          class="bg-halloween-purple hover:saturate-150 text-white font-normal py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:scale-105 shadow-md"
        >
          Upload your terrifying image
        </button>
      </CldUploadWidget>
    </div>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {
        images.map((image: any) => (
          <li class="transform transition duration-300 hover:scale-105">
            <a href={`/laboratory?id=${image.data.public_id}`} class="block overflow-hidden rounded-lg shadow-md">
              <CldImage
                src={image.data.public_id}
                width={400}
                height={400}
                crop={{
                  type: "fill",
                  gravity: "auto",
                }}
                class="w-full h-full object-cover"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>

<style></style>
