---

---

<footer class="py-4 mt-4">
  <div class="container mx-auto px-4 text-center text-sm">
    <p>
      &copy; 2024 <span class="font-zombie"> Terrif</span><span class="text-halloween-purple font-robota">AI</span> by <a
        href="https://www.linkedin.com/in/anthonyrovira/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-halloween-purple">Anthony Rovira</a
      > for <a
        href="https://cloudinary.com/blog/cloudinary-cloudcreate-spooky-ai-hackathon"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-halloween-purple">Cloudinary Hackathon</a
      >. All rights reserved.
    </p>
  </div>
</footer>
